# Uncomment one of the two options below
# Either use the models on chat.science.ru.nl
# Or use any local Ollama model

# When using chat.science.ru.nl
# Model options: gpt-oss:120b or qwen3.5:122b
API_KEY=your_api_key_here
MODEL_NAME=gpt-oss:120b
BASE_URL=https://chat.science.ru.nl/api

# When using Ollama
MODEL_NAME=llama3.2
BASE_URL=http://localhost:11434/v1