# Environment variables
.env

# Python bytecode
__pycache__/
*.pyc

# Streamlit specific
.streamlit/

# Operating System files
.DS_Store
Thumbs.db

# Answer files
defenses_filled.py

# Any zip files
*.zip

# Any tex files
*.tex

# Any pdf files
*.pdf